.contact-form {
    max-width: 840px;
    margin: 80px auto 0;
}

.contact-form textarea, 
.contact-form input {
    font-family: var(--font-default);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 14px 10px;
    font-size: 1.1rem;
    color: gray;
}

.contact-form textarea:focus-visible, 
.contact-form input:focus-visible {
    outline: 2px solid var(--secondary-color);
    outline-offset: -4px;
}

.contact-form label {
    font-size: 1.2rem;
}

.contact__status {
    font-size: 1.6rem;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
}

.form__field {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

.contant__btn {
    cursor: pointer;
    border: 1px solid transparent;
    color: var(--white);
    padding: 8px 40px;
    font-size: 1.3rem;
    background-color: var(--purple);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.24);
    transition: var(--transition);
}

.contant__btn:hover {
    background-color: var(--secondary-color);
    transition: var(--transition);
} 

.contant__btn:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(2px);
}

.content--contact {
    margin-top: -50px;
}
