.bubbles {
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.bubbles span {
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background: var(--white);
    animation: animate 6s linear infinite;
    opacity: 0.8;
    filter: blur(2.5px);
}

.cat {
    background-image: url('../images/gatito_blur_2.webp');
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
    overflow: hidden;
    opacity: 0.4;
    position: fixed;
}

.content {
    color: var(--white);
    position: relative;
    width: 80vw;
    max-width: 1440px;
    margin: auto;
    z-index: 2;
    text-align: center;
    animation: showUp 0.5s ease-in;
    padding: 100px 0;
}

.content--small {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.content__title {
    font-family: var(--font-title);
    font-size: 6rem;
    margin-bottom: 4rem;
}

.content__subtitle {
    font-size: 1.6rem;
}

.container {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.container .page {
    scroll-snap-align: start;
}

.see__more a {
    border: 4px solid var(--white);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    margin-top: 3rem;
    position: relative;
}

.see__more span {
    z-index: 2;
    position: relative;
}

@media screen and (min-width: 769px) {
    .see__more a:hover::after {
        content: '';
        width: 100%;
        position: absolute;
        height: 105%;
        display: block;
        background: var(--white);
        top: -1px;
        left: 0;
        z-index: 1;
        animation: hoverBtn 0.4s ease;
    }

    .see__more a:hover {
        color: var(--primary-color);
        transition: all 2s ease;
    }
}

@media screen and (max-width: 768px) {
    .content {
        width: 90vw;
        padding: 100px 0 180px;
    }

    .content__subtitle {
        font-size: 1.3rem;
    }

    .content__title {
        font-size: 5rem; 
    }
} 
