
.block-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 5rem;
  max-width: 1024px;
  margin: 60px auto;
  text-align: left;
}

@media screen and (max-width: 769px) {
  .works {
    grid-template-columns: 1fr;
  }
}

.work {
  font-size: 0.9rem;
}

.work a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  display: block;
}

.work span {
  color: var(--blue);
  background-color: rgba(94, 234, 212, 0.1);
  font-size: 0.8rem;
  padding: 4px 13px;
  border-radius: 40rem;
}

.content__subcontent {
  font-size: 1.2rem;
  max-width: 760px;
  margin: 0 auto;
  padding-top: 80px;
  padding: 130px 0 0;
}

.sub__title {
  font-size: 2rem;
  font-weight: 500;
}

.work__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.work h3 {
  display: inline-block;
  margin-right: 4px;
}

.work a svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translate(-2px, 4px);
  transition: all 0.6s ease;
}

.work a:hover {
  color: var(--blue);
  transition: all 0.5s ease;
  border-color: var(--white);
}

.work a:hover svg {
  transform: translate(0, 0);
  color: var(--blue);
  transition: all 0.5s ease;
}

.work__shot {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 0.6rem;
  background-color: var(--blue);
  border-radius: 20px;
}

.work__shot img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

.work a:hover img {
  mix-blend-mode: multiply;
  opacity: 0.8;
  transition: all 0.5s ease;
}

